* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* html {
  font-family: "Montserrat", sans-serif;
} */

/* header {
  background-color: #f5ba13;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
} */

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}
.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.features-icons {
  padding-top: 7rem;
  /* padding-bottom: 7rem; */

  .features-icons-item {
    max-width: 20rem;

    .features-icons-icon {
      height: 7rem;

      i {
        font-size: 4.5rem;
      }
    }
  }
}

:root {
  --mainOpacity: rgba(0, 0, 0, 0.55);
  --tj-theme-primary: #609c24;
  --tj-theme-secondary: #073305;
  --tj-theme-accent-1: #040e04;
  --tj-theme-accent-2: #140c1c;
  --tj-white: #ffffff;
  --tj-ff-heading: "Sora", sans-serif;
  --tj-fw-bold: 700;
}

.header {
  background-image: 
  /* linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), */ url("./assets/img/publicImages/headimage5.jpg");
  opacity: var(--mainOpacity);
  height: 25em !important;
}

@media (max-width: 768px) {
  .header {
    height: 33em !important;
  }
}

/* .dark-overlay {
  background-color: rgba(0, 0, 0, 0.35);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */

.main-color {
  background-color: #0e76a8;
}

.homepage-col-image {
  height: 30em !important;
  background-size: cover;
  background-position: center; /* to make the images responsive */
  border-radius: 35px;
  display: block;
}

.left-one {
  background-image: url("./assets/img/publicImages/project32.jpg");
}

.left-two {
  background-image: url("./assets/img/publicImages/professional1.jpg");
}

.right-one {
  background-image: url("./assets/img/publicImages/leetcode5.jpg");
}

@media (max-width: 768px) {
  .homepage-col-image {
    height: 20em; /* 在小屏幕上调整高度 */
    border-radius: 20px;
    margin-bottom: 30px;
  }
}

.lost-image {
  background-image: url("./assets/img/publicImages/image3.jpg");
  height: 25em !important;
  width: "720";
}

/* .homepage-carousel-title {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.book-div {
  width: 480px;
  height: 384px;
} */

.inactiveLink {
  pointer-events: none;
  cursor: default;
}

.navbar {
  --bs-nav-link-padding-x: 1rem;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: var(--bs-link-color);
  --bs-nav-link-hover-color: var(--bs-link-hover-color);
  --bs-nav-link-disabled-color: #6c757d;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.project-title {
  font-family: var(--tj-ff-heading);
  font-weight: var(--tj-fw-bold);
  line-height: 1.2;
  color: var(--tj-white);
  margin-bottom: 15px;
  text-decoration: none;
}

.project-subtitle {
  font-family: var(--tj-ff-heading);
  font-weight: lighter;
  line-height: 1.2;
  color: var(--tj-white);
  margin-bottom: 15px;
  text-decoration: none;
}

/* .post-subtitle {
  color: orange;
} */

.post-title {
  padding-top: 40px;
}

.post-preview > .post-link {
  color: #212529;
}
.post-preview > .post-link:focus,
.post-preview > .post-link:hover {
  text-decoration: none;
  color: #0085a1;
}
.post-preview > .post-link > .post-title {
  font-size: 1.875rem;
  margin-top: 1.875rem;
  margin-bottom: 0.625rem;
}
.post-preview > .post-link > .post-subtitle {
  font-weight: 500;
  margin-bottom: 0.625rem;
}
.post-preview > .post-meta {
  font-size: 1.125rem;
  font-style: italic;
  margin-top: 0;
  color: #6c757d;
}
.post-preview > .post-meta > .post-link {
  text-decoration: none;
}

@media (min-width: 992px) {
  .post-preview > .post-link > .post-title {
    font-size: 2.25rem;
  }
}

h2,
.h2 {
  font-size: calc(1.325rem + 0.9vw);
  font-weight: 800;
}

h3,
.h3 {
  font-size: calc(1.3rem + 0.6vw);
}

h4,
.h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4,
  .h4 {
    font-size: 1.5rem;
  }
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* font-weight: 800; */
  line-height: 1.2;
}

.post-link {
  color: var(--bs-link-color-rgb);
  text-decoration: none;
}
.post-link:hover {
  color: var(--bs-link-hover-color);
}

.post-link:not([href]):not([className]),
.post-link:not([href]):not([className]):hover {
  color: inherit;
  text-decoration: none;
}

.blog-section {
  padding-top: 20px;
  padding-bottom: 90px;
  background: var(--tj-theme-accent-1);
}
.blog-section .section-header {
  margin-left: auto;
  margin-right: auto;
}
.blog-section .blog-item {
  background: var(--tj-theme-accent-2);
  border-radius: 15px;
  position: relative;
  z-index: 1;
  height: 300px;
  margin-bottom: 40px;
}
.blog-section .blog-item .blog-thumb {
  overflow: hidden;
  border-radius: 15px;
  position: relative;
  z-index: 1;
  height: 300px;
}
.blog-item .blog-thumb .category {
  display: inline-block;
  background-size: 200%;
  background-image: linear-gradient(
    90deg,
    var(--tj-theme-primary) 0%,
    var(--tj-theme-secondary) 110.61%
  );
  text-decoration: none;
  color: var(--tj-white);
  position: absolute;
  left: 15px;
  top: 15px;
  z-index: 2;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 1;
  padding: 7px 10px;
  border-radius: 50px;
  transition: 0.4s;
}
.blog-item .blog-thumb .category:hover {
  background-size: 100%;
}
.blog-section .blog-item img {
  width: 100% !important;
  height: 100% !important;
  border-radius: 15px;
  transition: all 0.5s ease-in-out 0s;
  object-fit: cover !important;
}
.blog-item:hover .blog-thumb img {
  transform: scale(1.1);
}
.blog-item .blog-content {
  padding: 15px 15px 20px;
  position: absolute;
  bottom: 15px;
  left: 0;
  width: calc(100% - 40px);
  border-radius: 15px;
  background: var(--tj-theme-secondary);
  right: 0;
  margin: 0 auto;
  z-index: 1;
}
.blog-item .blog-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
  background: -o-linear-gradient(
    190deg,
    var(--tj-theme-secondary) 0%,
    var(--tj-theme-primary) 100%
  );
  background: linear-gradient(
    260deg,
    var(--tj-theme-secondary) 0%,
    var(--tj-theme-primary) 100%
  );
  opacity: 0;
  z-index: -1;
  border-radius: 15px;
}
.blog-item:hover .blog-content:before {
  opacity: 1;
}
.blog-item .blog-meta {
  margin-bottom: 20px;
}
.blog-meta ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}
.blog-meta ul li {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1;
  color: var(--tj-theme-primary);
  font-weight: var(--tj-fw-medium);
  transition: all 0.5s ease-in-out 0s;
}
.blog-item:hover .blog-meta li {
  color: var(--tj-body);
}
.blog-meta ul li i {
  line-height: 1;
  margin-right: 5px;
}
.blog-meta ul li a {
  color: inherit;
  text-decoration: none;
  font-size: inherit;
  font-weight: inherit;
}
.blog-item .blog-content .blog-title a {
  color: var(--tj-white);
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 0;
  transition: all 0.4s ease-in-out 0s;
}
.grid4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

/* --------------   START: Portfolio Section --------------*/
.portfolio-section {
  padding-top: 0px;
  padding-bottom: 80px;
  background: var(--tj-theme-accent-1);
}
.portfolio-section .section-header {
  margin-left: auto;
  margin-right: auto;
}
.portfolio-filter .button-group {
  background-color: var(--tj-black-2);
  border-radius: 60px;
  padding: 6px 8px;
  display: inline-block;
}
.portfolio-filter .button-group button {
  background: transparent;
  border: none;
  color: var(--tj-white);
  text-transform: capitalize;
  font-size: 15px;
  line-height: 1;
  padding: 12px 25px;
  border-radius: 50px;
  z-index: 10;
  position: relative;
}
.portfolio-filter .button-group {
  position: relative;
}

.portfolio-filter .button-group .active-bg {
  border-radius: 50px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
  z-index: 1;
  background: var(--tj-theme-primary);
  background: -o-linear-gradient(
    190deg,
    var(--tj-theme-secondary) 0%,
    var(--tj-theme-primary) 100%
  );
  background: linear-gradient(
    260deg,
    var(--tj-theme-secondary) 0%,
    var(--tj-theme-primary) 100%
  );
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.portfolio-box {
  position: relative;
}
.portfolio-box:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 35%;
  height: 35%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: var(--tj-theme-primary);
  background: -o-linear-gradient(
    190deg,
    var(--tj-theme-primary) 0%,
    rgba(115, 67, 210, 0) 100%
  );
  background: linear-gradient(
    260deg,
    var(--tj-theme-primary) 0%,
    rgba(115, 67, 210, 0) 100%
  );
  -webkit-filter: blur(150px);
  filter: blur(150px);
}

.portfolio-box .portfolio-item {
  background-color: var(--tj-theme-accent-2);
  padding: 30px;
  border-radius: 10px;
  position: relative;
}
.portfolio-box .portfolio-item--width2 {
  width: 22%;
}
.portfolio-box .image-box img {
  width: 100%;
  height: 100%;
  background-size: cover;
  border-radius: 10px;
}
.portfolio-box .content-box {
  position: absolute;
  bottom: 15px;
  left: 0;
  background: #000;
  width: calc(100% - 40px);
  border-radius: 15px;
  margin: 0 auto;
  right: 0;
  padding: 20px;
  padding-right: 50px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(15px);
  -ms-transform: translateY(15px);
  transform: translateY(15px);
  background: var(--tj-theme-primary);
  background: -o-linear-gradient(
    190deg,
    var(--tj-theme-secondary) 0%,
    var(--tj-theme-primary) 100%
  );
  background: linear-gradient(
    260deg,
    var(--tj-theme-secondary) 0%,
    var(--tj-theme-primary) 100%
  );
}
.portfolio-box .portfolio-item:hover .content-box {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.portfolio-box .portfolio-item .content-box .portfolio-title {
  font-size: 30px;
}
.portfolio-box .portfolio-item .content-box p {
  margin-bottom: 0;
}
.portfolio-box .portfolio-item .content-box .portfolio-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: transparent;
  border: none;
  padding: 0;
}
.portfolio-box .portfolio-item .content-box i {
  font-size: 20px;
  line-height: 1;
  position: absolute;
  top: 50%;
  right: 25px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: var(--tj-white);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}
.portfolio-box .portfolio-item:hover .content-box i {
  -webkit-transform: translateY(-50%) rotate(360deg);
  -ms-transform: translateY(-50%) rotate(360deg);
  transform: translateY(-50%) rotate(360deg);
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}
/* --------------   End: Portfolio Section --------------*/

.homepage-profile-pic {
  border-radius: 50%;
  width: 110px;
  height: 110px;
  object-fit: cover;
  margin-bottom: 10px;
  right: -250px;
  top: -15px;
  border: 5px solid #609c24;
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
  -webkit-transition: 0.3s ease-in-out;
  /* ease-in-out:在发生旋转时平滑地过渡 */
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.homepage-profile-pic:hover {
  -webkit-transform: rotate(30deg); /* Rotate on hover */
  transform: rotate(30deg); /* Rotate on hover */
}

/* --------------  Article display --------------*/

@media (min-width: 576px) {
  .container-sm,
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md,
  .container-sm,
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1320px;
  }
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.mb-auto {
  margin-bottom: auto !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: 0.25rem !important;
}

.mt-2 {
  margin-top: 0.5rem !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.mt-5 {
  margin-top: 3rem !important;
}

.mt-auto {
  margin-top: auto !important;
}

ul {
  list-style-type: square;
}
